In [1]:
from app.analysis.ner import query_data, setup, EntityAnalyzer

df = query_data(0)

[2024-05-15 06:55:02,105:    INFO] Querying data. (ner.py:81)

In [2]:
df

         headline_id                                              title
0                  1  Schweizer's 'Blood Money' Rockets to #1 on Ama...
1                  2          Who Can Win a Nobel Prize? by Yasmin Nair
2                  3  Rafah offensive could make humanitarian situat...
3                  4  SPEAK UP: CNN: 24 things to look forward to in...
4                  5                     To Russia, With Love, From GOP
...              ...                                                ...
1026099      1127537  OpenAI Launches Voice Assistant Inspired by Ho...
1026100      1127538  Berkshire Hathaway's Mystery Stock Purchase Co...
1026101      1127539  This unconventional inflation hedge may be mor...
1026102      1127540  Why Wednesday's CPI report is taking on outsiz...
1026103      1127541  Rihanna Finds a Buyer for $25 Million Los Ange...

[1026104 rows x 2 columns]

In [3]:
analyzer = EntityAnalyzer()
df = setup(df, analyzer)

[2024-05-15 06:55:09,079:    INFO] Extracting entities for 1026104 headlines... (ner.py:133)

100%|██████████| 1026104/1026104 [2:56:51<00:00, 96.70it/s]

[2024-05-15 09:52:00,263:    INFO] Done. (ner.py:150)

In [9]:
import pandas as pd
df = pd.read_csv('entity_checkpoint.csv')
df.head()

,headline_id,title,entity,label,simplified,run
0,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Schweizer,ORG,Schweizer,True
1,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Amazon,ORG,Amazon,True
2,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Movers & Shakers',ORG,Movers & Shakers,True
3,2,Who Can Win a Nobel Prize? by Yasmin Nair,Yasmin Nair,PERSON,Yasmin Nair,True
4,3,Rafah offensive could make humanitarian situat...,EU,ORG,EU,True

In [10]:
df['lowercase'] = df['simplified'].str.lower()
df.head()

,headline_id,title,entity,label,simplified,run,lowercase
0,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Schweizer,ORG,Schweizer,True,schweizer
1,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Amazon,ORG,Amazon,True,amazon
2,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Movers & Shakers',ORG,Movers & Shakers,True,movers & shakers
3,2,Who Can Win a Nobel Prize? by Yasmin Nair,Yasmin Nair,PERSON,Yasmin Nair,True,yasmin nair
4,3,Rafah offensive could make humanitarian situat...,EU,ORG,EU,True,eu

In [11]:
df.drop(columns=['run'], inplace=True)
df.head()

,headline_id,title,entity,label,simplified,lowercase
0,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Schweizer,ORG,Schweizer,schweizer
1,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Amazon,ORG,Amazon,amazon
2,1,Schweizer's 'Blood Money' Rockets to #1 on Ama...,Movers & Shakers',ORG,Movers & Shakers,movers & shakers
3,2,Who Can Win a Nobel Prize? by Yasmin Nair,Yasmin Nair,PERSON,Yasmin Nair,yasmin nair
4,3,Rafah offensive could make humanitarian situat...,EU,ORG,EU,eu

In [12]:
def is_match(a, b):
    return a in b or b in a

In [13]:
# Let's create a n nxn matrix of matches for each entity
import numpy as np

# use numpy broadcasting
matches = np.zeros((len(df), len(df)), dtype=bool)
for i, row in df.iterrows():
    matches[i] = df['lowercase'].apply(lambda x: is_match(row['lowercase'], x))
matches

MemoryError: Unable to allocate 2.54 TiB for an array with shape (1671655, 1671655) and data type bool

In [14]:
deduped = df.drop_duplicates(['lowercase'])
len(deduped)

166047

In [15]:
len(df)

1671655

In [16]:
df[df['lowercase'].str.contains('trump')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [19]:
df.dropna(inplace=True)
df[df['lowercase'].str.contains('trump')]

,headline_id,title,entity,label,simplified,lowercase
11,9,Legal Analyst: It's 'Game Over' if Fani Willis...,Trump,GPE,Trump,trump
46,33,See where the big Trump cases stand in the mon...,Trump,GPE,Trump,trump
95,72,What the Polls Say: No Haley Comeback in South...,Trump,PERSON,Trump,trump
100,73,"Putin: Biden Better for Russia Than Trump, 'Mo...",Trump,PERSON,Trump,trump
110,80,Ex-DOJ Official Says This Chain Of Donald Trum...,Donald Trump's,PERSON,Donald Trump,donald trump
...,...,...,...,...,...,...
1671561,1127487,Michael Cohen testifies that Trump worried abo...,Trump,PERSON,Trump,trump
1671562,1127488,"""Just do it,"" then-candidate Donald Trump alle...",Donald Trump,PERSON,Donald Trump,donald trump
1671573,1127493,Michael Cohen calmly describes Trump's hush mo...,Trump,PERSON,Trump,trump
1671578,1127496,Michael Cohen calmly describes Trump's hush mo...,Trump,PERSON,Trump,trump
1671632,1127527,Cohen and former CFO Allen Weisselberg mulled ...,Trump,PERSON,Trump,trump